body {

 background-color:#FFD9F1
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}
h2{
    color:#5E4224
}
h3{
    color:blueviolet
}
h4{
    font-style: oblique;
    color:palevioletred;
    font-size:x-large;
}
.capixinha{
float:



}
